<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- We should use  app.use(express.static('public')) method. And shouldn't write the full path-->
  <link rel="stylesheet" href="style.css"> 
  <title>Blog Ninja | <%= title%></title>
  
</head>